body {
  font-family: 'El Messiri', sans-serif;
}

.Spaceship {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.Spaceship__Link {

  &, &:hover, &:link {
    text-decoration: none;
  }
}

.Spaceship__Image {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    max-height: 100%;
  }
}

.Spaceship__Title {
  text-transform: capitalize;
}

.Spaceship__Price {
  font-size: 16px;
}

.Spaceship__Price--sold-out {
  font-size: 16px;
  color: red;
}
