.SpaceshipsList__Hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  @media (max-width: 450px) {
    height: 80vh;
  }
}

.SpaceshipsList__Hero-video {
    width: 100%;
    max-height: 80vh;
    object-fit: fill;

    @media (max-width: 767px) {
      max-height: 100%;
    }

    @media (max-width: 450px) {
      display: none;
    }
}

.SpaceshipsList__Header {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  color: white;
}

.SpaceshipsList__Header-title {
  text-align: center;
}

.SpaceshipsList .Spaceship__Image {
  max-height: 268px;

  @media (max-width: 1200px) {
    max-height: 220px;
  }

  @media (max-width: 991px) {
    max-height: 162px;
  }

  @media (max-width: 767px) {
    max-height: 100%;
  }
}
