.SpaceshipTechSpec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SpaceshipTechSpec__BuyButton {
  margin-top: 50px;
  cursor: pointer;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
